@tailwind base;
@tailwind components;
@tailwind utilities;

.intro-border {
  background: linear-gradient(to right, #ec5325 .5rem, transparent .5rem) 0 0,
    linear-gradient(to bottom, #ec5325 .5rem, transparent .5rem) 0 0;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
}

#services section:nth-child(odd) div:first-child {
  order: 2;
}

@media screen(lg) {
  #services section:nth-child(odd) div:first-child {
    order: unset;
  }
}

[class^='number-slide'],
[class*='number-slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
